{{define "bracket_edit_footer"}}

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"/> -->

    <script type="module" src="/js/constants.js" type="text/javascript" charset="utf-8"></script>
    <script type="module" src="/js/bracket.js" type="text/javascript" charset="utf-8"></script>
    <script type="module" src="/js/bracket_edit.js" type="text/javascript" charset="utf-8"></script>


{{end}}

